Hi I am Madhavi

<html>
<head>

</head>
<body>
  <table border="1" >
    <tr><td>

          {{title}}

    </td>
  <td>{{company}}</td>
  </tr>
  </table>
  {{getName()}}

  <button (click)=[changeName()]>Change Company Name</button>
  

</body>
</html>
